.container-fluid
    .row
        .col-md-8.offset-md-2
            .table-responsive-md.pt-5
                %table.table.table-striped.table-hover#events
                    %thead.thead-dark
                        %tr
                            %th Name
                            %th Office
                            %th Political Party
                            %th Contact Address
                            %th Photo
                        %tr
                            %td
                                = @rep.name
                            %td
                                = @rep.ocdid
                            %td
                                = @rep.party
                            %td
                                = @rep.address
                            %td
                                - if @rep.photo_url.nil?
                                    Representative has no photo
                                - else
                                    = image_tag(@rep.photo_url)
