= form_for news_item, url: form_url, html: { method: form_method } do |f|
    - if news_item.errors.any?
        .alert.alert-danger
            %h2
                "#{pluralize(news_item.errors.count, 'error')} prohibited this news from being saved:"
            %ul
                - news_item.errors.full_messages.each do |message|
                    %li= message
    .form-group.row
        .col-sm-2
            = label :news_item, :representative_id, class: 'col-form-label'
        .col-sm-10
            = link_to @representative.name, representative_path(id: @representative.id)
    .form-group.row
        .col-sm-2
            = label :news_item, :issue, class: 'col-form-label'
        .col-sm-10
            = text_field :news_item, :issue, :value => @issue, :readonly => true
    .text-center
        .actions
            = f.submit 'Save', class: 'btn btn-primary'
